{{!-- <h2>Below are the galleries</div> --}}


<div class="container">
  <header>
    <h1>My Albums</h1>
  </header>
  <div class="content-area">
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album One</h3>
      </div>
    </div>      
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album Two</h3>
      </div>
     </div>
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album Three</h3>
      </div>
     </div>
    
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album Name</h3>
      </div>
     </div>
    
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album Name</h3>
      </div>
     </div>
    
    <div class="album">
      <img src="http://static.nme.com/images/gallery/2005ArcadeFireFuneral600.jpg" alt="arcade fire" />
      <div class="bottom-block">
        <h3>Album Name</h3>
      </div>
     </div>
    
  </div>
</div>